---
---

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 15px;
    align-items: center;
  }
  
  
  .gallery-item {
    display: block;
    max-width: 270px;
    height: 500px;
    margin-bottom: 60px;
    margin-right: 20px;
  
    &__image-block {
      display: block;
      position: relative;
    }
  
    &__image {
      max-width: 270px;
      height: 300px;
      object-fit: cover;
    }
  
    &__status {
      position: absolute;
      background: white;
      right: 0;
      padding: 5px 10px 5px 20px;
      font-size: 1.05rem;
    }
  
    &__text {
      line-height: 1.9rem;
    }
  
    &__title {
      font-weight: bold;
      font-size: 1.5rem;
      padding: 10px 0;
    }
  
    &__link {
      display: flex;
      background: #1D3557;
      color: white;
      font-weight: normal;
      font-size: 18px;
      padding: 5px 8px;
      width: 130px;
      margin-top: 20px;
    }
    
    &__arrow {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 5px;
      height: 8px;
      width: 16px;
    }
  
    &__bullet::before {
      position: absolute;
      content: "\2022";
      color: $dark-orange;
      font-size: 2rem;
      top: -5px;
      left: 5px;
    }
  }
  
  // Gallery item page
  .item-header {
    color: black;
    margin: 40px 0;
  }