<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% include head-custom.html %}
  </head>
  <h1><img align="left" src="https://workflows-community.github.io/logos/workflows/WCoP.png" height=50px><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

  <body>
    <div class="article-container">
        <h1 class="item-header">{{ page.title }}</h1>
        <hr />
        <div class="item-footer">
        <div class="item-footer__status">
            <div class="item-footer__left">
            <p class="item-footer__bold">Location: {{ page.location }}</p>
            </div>
            <div class="item-footer__right">
            <p class="item-footer__bold">Description: {{ page.brief }}</p>
            </div>
        </div>
        </div>
        <hr />
        {{ content }}
        </div>
    </body>
</html>
